body
  padding-top 61px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.jumbotron {
  padding: 0.5em 0.6em;
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.2em;
    .btn {
      padding: 0.5em;
    }
  }
  margin-bottom: 10px
}