extends ../includes/layout

block content
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href='/') comboserver.js
    section.content
        div(ng-view)
