.container
    .jumbotron
        h1 comboserver.js
        p The Combo API can be used for demonstrating combo-style microservices as described on &nbsp;
            a(href='http://docs.combo.apiary.io/') docs.combo.apiary.io
    .row
        .col-md-12
            div(ng-include="'/partials/main/topics'")